/*
 * File: css/style.css
 * Purpose: Defines custom icon font mappings.
 * Description: This stylesheet handles the import of the 'icomoon' font family and maps
 *              CSS classes (prefixed with .icon-cz) to specific icon characters.
 */

/*
 * Selector: @font-face
 * Purpose: Imports the 'icomoon' font files (EOT, TTF, WOFF, SVG).
 */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nkzd3f');
  src:  url('../fonts/icomoon.eot?nkzd3f#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?nkzd3f') format('truetype'),
  url('../fonts/icomoon.woff?nkzd3f') format('woff'),
  url('../fonts/icomoon.svg?nkzd3f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Selector: [class^="icon-cz"], [class*=" icon-cz"]
 * Purpose: Base styles for all icon classes. Sets font-family to 'icomoon',
 *          normalizes font styles, and enables font smoothing.
 */
[class^="icon-cz"], [class*=" icon-cz"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * The following selectors map specific classes to their corresponding character codes in the font.
 */

.icon-czconnection:before {
  content: "\e91b";
}
.icon-czcart:before {
  content: "\e93a";
}
.icon-czcog:before {
  content: "\e994";
}
.icon-czbin:before {
  content: "\e9ac";
}
.icon-czarrow-left2:before {
  content: "\ea40";
}
.icon-czctrl:before {
  content: "\ea50";
}
.icon-czbullhorn:before {
  content: "\e91a";
}
.icon-czspinner11:before {
  content: "\e984";
}
.icon-czsleepy:before {
  content: "\e9fd";
}
.icon-czcross:before {
  content: "\ea0f";
}
.icon-czhome3:before {
  content: "\e902";
}
.icon-czheadphones:before {
  content: "\e910";
}
.icon-czlocation:before {
  content: "\e947";
}
.icon-czlocation2:before {
  content: "\e948";
}
.icon-czsearch:before {
  content: "\e986";
}
.icon-czheart:before {
  content: "\e9da";
}
.icon-czplay3:before {
  content: "\ea1c";
}
.icon-czctrl1:before {
  content: "\ea51";
}
.icon-czshare2:before {
  content: "\ea82";
}
.icon-czfacebook2:before {
  content: "\ea91";
}
.icon-cztwitter:before {
  content: "\ea96";
}
.icon-czrenren:before {
  content: "\ea99";
}
.icon-czsina-weibo:before {
  content: "\ea9a";
}